<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img ng-src="{{data.imgurl}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{data.nombre}}</h5>
        <p class="card-text">${{data.precio}}</p>
        <p class="card-text">Tallas: {{data.tallas}}</p>
        <p class="card-text">Colores: {{data.colores}}</p>
        <p class="card-text"><button type="button" class="btn btn-primary">Agregar al carrito</button></p>
      </div>
    </div>
  </div>
</div>
