<div class="jumbotron">
  <div class="container">

    <div class="col-md-12 col-md-offset-3">
      <h2>Carrito</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cant</th>
            <th scope="col">V/Unit</th>
            <th scope="col">V/Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in results">
          <td>{{product.nombre}}</td>
          <td>{{product.cant}}</td>
          <td>$ {{product.precio}}</td>
          <td>$ {{product.precio * product.cant}}</td>
          <td width="1"><button class="btn" ng-click="removeFromCart(product.id)"><i class="fa fa-trash"></i></button></td>
        </tr>
        <tr><td><b>TOTAL:</b></td><td></td><td></td><td><b>$ {{total}}</b></td><td></td></tr>
      </table>
    </div>

    <form name="form" ng-submit="checkout()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.direccion.$dirty && form.direccion.$error.required }">
            <label for="direccion">Dirección de envío:</label>
            <input type="text" name="direccion" id="direccion" class="form-control" ng-model="vm.user.direccion" value=" " required />
            <span ng-show="form.direccion.$dirty && form.direccion.$error.required" class="help-block">La dirección es obligatoria</span>
        </div>
        <div class="form-actions">
          <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Finalizar compra</button>
          <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a href="#!/" class="btn btn-link">Seguir comprando</a>
        </div>
    </form>
  </div>
</div>
